html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #00bfff;
    text-align: center;
}

.list {
    display: inline-block;
    margin: 40px;
    padding: 20px 10px;
    color: coral;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 1px mediumaquamarine;
}

h1 {
    color: coral;
    text-shadow: 2px 2px black;
}